@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
	.wrapper {
    	width: 200px;
	}

	.header {
    	width: 200px;
    	height: 200px;
	}

	.contents-header {
    	width: 60px;
    	height: 160px;
    	position: relative; top: 20px; left: 70px;
	}

	.contents-header1 {
    	float: none;
    	margin: 0px;
    	position: relative; top: 10px; left: 10px;
	}

	.contents-header2 {
    	float: none;
    	margin: 0px;
    	margin-top: 10px;
    	position: relative; top: 10px; left: 10px;
	}

	.contents-header3 {
    	float: none;
    	margin: 0px;
    	margin-top: 10px;
    	position: relative; top: 10px; left: 10px;
	}

	.left {
	    width: 200px;
    	height: 100px;
	}

	.right {
		overflow:hidden;
	    float: none;
    	width: 200px;
    	height: 210px;
	}

	.contents-right {
    	position: relative; top: 20px; left: 30px;
	}

	.contents-right1 {
    	width: 130px;
	}

	.contents-right2 {
    	width: 130px;
	}

	.contents-right3 {
    	width: 130px;
	}

	.footer {
    	width: 200px;
	}
}

